.sidebar {
  width: 250px;
  background-color: #3449D3;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #0b3d91;
}

.sidebar-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-grow: 1;
}

.sidebar-menu li {
  margin-bottom: 5px;
}

.menu-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.menu-link:hover {
  background-color: #0a4282;
}

.menu-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar-logout {
  padding: 0;
  margin: 20px 0;
}

.logout-link {
  border: 1px solid transparent;
}

.logout-link:hover {
  background-color: #dc3545;
  border-color: #ff5c6d;
}